<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.1" targetFramework="net452" />
  <package id="elmah.corelibrary" version="1.2" targetFramework="net452" />
  <package id="Elmah.Mvc" version="2.1.2" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net452" />
  <package id="System.Linq.Dynamic" version="1.0.6" targetFramework="net452" />
</packages>