
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verified</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            window.setInterval(function ()
            {
                window.location = ("http://ticketwala.azurewebsites.net/login/Login");

            }, 2500);
        });

    </script>

</head>
<body>
<div class="container body-content">
    <br/>
    <div class="alert alert-info">
        <strong>Info!</strong> @ViewBag.VerificationMessage .
    </div>
</div>
</body>
</html>
