@section customscripts{
    <link href="~/Scripts/JqueryUI/jquery-ui.min.css" rel="stylesheet"/>
    <link href="~/Scripts/jtable/themes/metro/lightgray/jtable.min.css" rel="stylesheet"/>
    <!--Adding jTable Plugin-->
    <script src="~/Scripts/jtable/jquery.jtable.min.js"></script>
    <link href="~/Scripts/validationEngine/validationEngine.jquery.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/ValidationScript/GridDeletedAgentsAdmin.in.js"></script>
}
<div class="col-md-12 col-xs-12">
    <div class="col-md-9 col-xs-9">
        <div class="x_panel">
            <div class="x_content">
                <br />
                <div id="GridTableContainer"></div>
            </div>
        </div>

    </div>
    <div class="col-md-3 col-xs-3">


        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseSearch">Search Panel</div>
            <div id="collapseSearch" class="panel-collapse collapse in">
                <div class="panel-body">

                    <form id="form">

                        <label>Search</label>
                        <input id="search" class="form-control" type="text" />

                        <label>SearchIn</label>
                        <select id="searchin" required name="searchin" class="form-control"> </select>

                        <label>Priority</label>
                        <select class="form-control" name="DropPriority" id="DropPriority"></select>

                        <label>Status</label>
                        <select class="form-control" name="DropStatus" id="DropStatus"></select>
                        <br />
                        <button type="submit" class="btn btn-round btn-success" id="BtnSearch">Search</button>
                        <button type="button" class="btn btn-round btn-primary" id="BtnClear">Clear</button>

                    </form>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne">Advanced Panel</div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">

                    <label>Restore Deleted Tickets</label>
                    <button type="submit" class="btn btn-primary" id="btnRestore">Restore</button>

                </div>
            </div>
        </div>
    </div>
</div>
