

<meta name="viewport" content="width=device-width" />
<title>Index</title>
<link href="~/Scripts/JqueryUI/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Scripts/jtable/themes/metro/lightgray/jtable.min.css" rel="stylesheet" />
<!--Adding jquery Plugin-->
<script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
<!--Adding jTable Plugin-->
<script src="~/Scripts/jtable/jquery.jtable.min.js"></script>
<!-- Import CSS file for validation engine (in Head section of HTML) -->
<link href="~/Scripts/validationEngine/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/ValidationScript/GridEmailSetting.js"></script>


<div class="col-md-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Settings</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <form id="form">
                <div class="col-lg-4">
                    <label>Search</label>
                    <input id="search" class="form-control" type="text" />
                </div>

                <div class="col-lg-4" style="margin-top: 25px">
                    <button type="submit" class="btn btn-round btn-success" id="BtnSearch"><i class="glyphicon glyphicon-search"></i> Search</button>
                    <button type="button" class="btn btn-round btn-primary" id="BtnClear"><i class="glyphicon glyphicon-repeat"></i> Clear</button>
                </div>
                <div class="col-lg-4">

                </div>
            </form>

            <hr />
            <div class="row">
                <div class="col-lg-12"></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="GridTableContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>