@model TicketManagement.ViewModels.AdminYearReportViewModel

<div class="col-md-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Report</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">

            @using (Html.BeginForm("YearWiseReport", "AdminReport", FormMethod.Post, new { @id = "Reportform" }))
            {

                if (TempData["ReportMessages"] != null)
                {
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Message!</strong> @TempData["ReportMessages"]
                    </div>
                }

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Html.Label("Report Type", new { @class = "mandatory" })
                    @Html.DropDownListFor(model => model.Year, new SelectList(Model.ListofYears, "Value", "Text"), new { @class = "form-control" })
                </div>

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <br />
                    <button class="btn btn-round btn btn-success" type="submit"><i class="fa fa-file-excel-o"></i> Export</button>
                    <a href="/AdminReport/YearWiseReport" class="btn btn-round btn btn-primary">Reset</a>
                </div>
            }
        </div>
    </div>
</div>