

<meta name="viewport" content="width=device-width" />
<title>Index</title>
<link href="~/Scripts/JqueryUI/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Scripts/jtable/themes/metro/lightgray/jtable.min.css" rel="stylesheet" />


<!--Adding jquery Plugin-->

<script src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
<!--Adding jTable Plugin-->
<script src="~/Scripts/jtable/jquery.jtable.min.js"></script>

<!-- Import CSS file for validation engine (in Head section of HTML) -->
<link href="~/Scripts/validationEngine/validationEngine.jquery.css" rel="stylesheet" type="text/css" />


<script>
    $(document).ready(function () {
        $('#RolesTableContainer').jtable({
            title: 'Remove Assigned Roles',
            paging: true,
            pageSize: 10,
            sorting: true,
            pageSizeChangeArea: false,
            actions:
            {
                listAction: '/EditAssignedRoles/AssignedRolesUserList',
                deleteAction: '/EditAssignedRoles/RemoveAssignedRole'
            },
            fields: {
                AssignedRoleId: {
                    key: true,
                    list: false
                },
                RoleName: {
                    title: 'RoleName',
                    width: '20%'
                },
                UserName: {
                    title: 'UserName',
                    width: '25%'
                },
                Status: {
                    title: 'Status',
                    width: '12%',
                    type: 'checkbox',
                    values: { 'false': 'Deactivate', 'true': 'Active' },
                    defaultValue: 'true'
                }
            }
        });

        //Re-load records when user click 'load records' button.
        $('#BtnSearch').click(function (e) {
            e.preventDefault();
            $('#RolesTableContainer').jtable('load', {
                username: $('#username').val()
            });
        });

        $('#BtnClear').click(function (e) {
            e.preventDefault();
            $('#username').val('');
            $('#RolesTableContainer').jtable('load',
                {
                    username: ''
                });
        });

        //Load Customer data from server
        $('#RolesTableContainer').jtable('load');
    });

</script>
<script src="~/Scripts/ValidationScript/ViewRoles.js"></script>




<div class="col-md-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>All Assigned Role to Users</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form id="form">
                <div class="col-lg-4">
                    <label>Enter Username</label>
                    <input type="text" class="form-control" id="username" name="username" />
                </div>
                <div class="col-lg-4" style="margin-top: 25px">

                    <button id="BtnSearch" class="btn btn-round btn btn-success" type="submit"><i class="glyphicon glyphicon-search"></i> Search</button>

                    <a href="/EditAssignedRoles/Edit" class="btn btn-round btn btn-primary"><i class="glyphicon glyphicon-repeat"></i> Clear</a>
                </div>
            </form>

            <hr />
            <div class="row">
                <div class="col-lg-12"></div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div id="RolesTableContainer"></div>
                </div>
            </div>
        </div>
    </div>
</div>

